.hidden {
    display: none;
}
.tooltip {
    position: fixed;
    max-width: 250px;
    background: #F8F8C1;
    padding: 5px;
    font-size: 12px;
    color: #000;
    border-radius: 3px;
    border: 1px solid #996;
}
